<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a57407.problemapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivity" />
        <activity android:name=".Switch_choose_Activity" />
        <activity android:name=".Fault_categoryActivity" />
        <activity android:name=".Fault_solutionActivity" />
        <activity android:name=".Ass_Trans_Activity" />
        <activity android:name=".AssTrans_Fault_Activity" />
        <activity android:name=".equip_solActivity" />
        <activity android:name=".Exca_Activity" />
        <activity android:name=".Exca_solActivity" />
        <activity android:name=".Other_Activity" />
        <activity android:name=".othersol_Activity" />
        <activity android:name=".About_Activity" />
        <activity
            android:name=".Startpage"
            android:label="@string/title_activity_startpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".About2Activity"></activity>
    </application>

</manifest>